.App{

  
    
    /* background: rgb(0,211,255);
    background: linear-gradient(146deg, rgba(0,211,255,0.11810661764705888) 0%, rgba(9,81,121,0.11810661764705888) 35%, rgba(43,149,0,0.11810661764705888) 100%); */
    background: rgb(174,178,238);
    background: radial-gradient(circle, rgba(174,178,238,0.20214023109243695) 0%, rgba(148,187,233,0.2049413515406162) 100%);

}